<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/books">
            Book Library
        </a>
        <div class="navbar-nav ms-auto">
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/login}">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-link nav-link">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </button>
                </form>
            </li>
            <a class="nav-link" href="/books">
                <i class="fas fa-book"></i> Books
            </a>
            <a class="nav-link" href="/reservations">
                <i class="fas fa-list-alt"></i> Reservations
            </a>
        </div>
    </div>
</nav>
</body>
</html>